################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/DARE-TREFX-Environment1/FileContentIndex
/.vs/
.vs/
/.vs/DARE-TREFX-Environment1/v17/.wsuo
/.vs/DARE-TREFX-Environment1/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
.DS_Store
**/.DS_Store

DemoStack/config/funnel-config.yml
DemoStack/config/funnel-work-dir/