DEPLOYMENT_VERSION=1.7.11

# Application Name
AppName=Five Safes TES

# Harbor URLs for pulling images (change if mirroring images to a private registry; otherwise, can be left as is)
HarborFedA=harbor.federated-analytics.ac.uk
HarborSERP=harbor.ukserp.ac.uk:443

# Internal Postgres Superuser creds
PGLOGIN=admin
PGPASSWORD=admin

# Serilog Minimum Level
SerilogLevel=Warning

# Keycloak Host name (if using a local Keycloak instance)
KeycloakHostName=localhost

# Submission KeyCloak URL (KEEP THE SAME - if using a LOCAL Keycloak instance; CHANGE - if using a REMOTE Keycloak instance)
SUBMISSION_KEYCLOAK_URL=http://keycloak:8080

# MinIO Settings:
# Client ID, Secret Key, URL:
MinioOpenidSecret=8a11bbcd-693a-4549-bda4-3e978fcf4de1
# Root User:
MinioRootUser=minio
MinioRootPass=minio123
# Point to Submission Minio API
submissionMinioUrl=http://minioSubmission:9000
# Point to Submission Minio Console
submissionMinioAdminConsole=http://localhost:9001

# Keycloak Settings for Submission API and UI
SubmissionAPIKeyCloakSecret=2e60b956-16bc-4dea-8b49-118a8baac5e5
SubmissionUIClientSecret=1218304e-bf92-4706-83f6-912e0b04ecb9
# Redirect URL for Submission UI
SubmissionKeyCloakClientUIRedirectURL=http://localhost:7220
# Server URL for Submission Keycloak
SubmissionKeyCloakServer=keycloak:8080
# Protocol for Submission Keycloak
SubmissionServerProtocol=http

# Default SQL Query Image to run in the SQL wizard
URLSettingsFrontEndQueryImageSQL=${HarborFedA}/5s-tes-analysis-tools/5s-tes-analysis-tools-tre-sqlpg:1.0.0

# Note: Env vars below are unlikely to be changed 
# Path to the config folder of Submission Layer
CONFIG_PATH=../../../DeploymentStack/submission/config
# Always keep this as false in real deployments:
DemoMode=false
# Allows Keycloak to not require https:
KeyCloakDemoMode=true
#If having issues with keycloak set this to false.
sslcookies=false
#If http only site set this to false
httpsRedirect=false
# Proxy Settings (to be reviewed and removed if not needed):
no_proxy=192.168.*.*,172.17.*.*,localhost,0.0.0.0,127.0.0.1,minio
http_proxy=http://192.168.10.15:8080
https_proxy=http://192.168.10.15:8080
ProxyAddressURLForExternalFetch=http://192.168.10.15:8080
useproxy=false
proxyurl=http://192.168.10.15:8080
# Submission Keycloak settings (to be reviewed and removed if not needed):
SubmissionTokenRefreshSeconds=3600
SubmissionSignedOutRedirectUri=/
SubmissionAutoTrustKeycloakCert=false
SubmissionValidIssuer=
SubmissionValidAudience=
SuppressAntiforgery=false

CONFIG_PATH=../../../DeploymentStack/Submission/config
